<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top shadow border-bottom border-danger" *ngIf="authService.estaLogueado()">
  <div class="container-fluid px-3 px-md-5">
    <!-- Logo / marca -->
    <a class="navbar-brand fw-bold text-uppercase fs-4" routerLink="/">
      <i class="bi bi-lightning-charge-fill text-danger me-1"></i>Rock<span class="text-danger">Store</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#rsNavbarContent"
      aria-controls="rsNavbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="rsNavbarContent">
      <ul
  class="navbar-nav ms-auto mb-2 mb-lg-0 text-uppercase fw-normal"
  style="font-size: 13px;"
>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="text-danger">
            Inicio
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/compra" routerLinkActive="text-danger">
            Comprar
          </a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="text-danger">
            About
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacto" routerLinkActive="text-danger">
            Contacto
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="cerrarSesion()">
           Cerrar 
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
